{% extends "base.html.twig" %}

{% block body %}

<h1>
{% if editMode %}
Modification de l'article
    
{% else %}
Création d'un article
    
{% endif %}
</h1>

{# {{ form(formArticle) }} #}
{# form() permet d'afficher un formulair entier  #}

{{ form_start(formArticle, {
   attr:{
    novalidate: 'novalidate'
    }
}) }} 
 {# novalidate: 'novalidate' permet de désactiver la validation html automatique   #}

{# form_widget() permet de gérer l'affichage d'un formulaire  #}

{{ form_row(formArticle.title, {
    label: "titre",
    attr: {
        placeholder: "Titre de l'article"
    }
}) }}

{{ form_row(formArticle.content, {
    label: "content",
    attr: {
        placeholder: "contenu de l'article"
    }
}) }}

{{ form_row(formArticle.image) }}

<button type="submit" class="btn btn-primary mt-2">
{% if editMode %}
   Enregistrer les modifications 
{% else %}
   Ajouter l'article 
{% endif %}

</button>


{{ form_end(formArticle) }}


{% endblock %}
