{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
{# app est un objet global qui contient beaucoup de données  #}

<div class="alert alert-success text-center">{{ message }}</div>
    
{% endfor %}


<section class="row articles">

{% for article in tabArticles %}

{# article est une variable de réception : elle réception un article par tour de bloucle #}
{# tabArticle est le tableau envoyé depuis le méthode index() #}
    

<article class="col-md-4 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
    <h2>{{article.title}}</h2>
    {# symfony accéde à la propriété title de l'objet article via son getter #}
    <div class="metadata">Ecrit le {{ article.createdAt|date('d/m/Y à H:i:s') }} dans la catégorie politique</div>
    {# da #}
    <div class="content">
    <img src="{{ article.image }}" alt="" srcset="">
    {{ article.content |raw }}
    <a href="{{path('blog_show', {id: article.id}) }}" class="btn btn-primary">Lire la suite </a>
    </div>
</article>
{% endfor %}
</section>



{% endblock %}
